<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Container for metadata (is not displayed)
    Title, Styles, Link, Scripts, Meta and other
    -->
    <meta name ="Mike">
</head>

<body>

    Welcome to Dev Course!
    <h1>Spring Boot</h1>
    <h2>Heading h2</h2>
    <h3>Heding h3</h3>

    <h1 align="center" style="color: blue">Spring Framework</h1>

    <img src="springboot.png" alt="Spring Boot Image">

    <ul>
        <li>MVC</li>
        <li>ORM</li>
        <li>API</li>
    </ul>

    <a href="https://amazon.com">Amazon</a>

    <table>
        <tr>
            <td>Loop</td>
            <td>Collection</td>
            <td>Stream</td>
        </tr>
        <tr>
            <td>IoC</td>
            <td>DI</td>
            <td>Value</td>
        </tr>
    </table>

    <!--Forms-->
    <label>User Name:</label>
    <input type="text" name="username"><br>
    <label>Password:</label>
    <input type="password"><br>
    <label>Enter your comments: </label>
    <textarea name="comments"></textarea><br>

    <label>Please select your favorite subject</label> <br>
    <input type="radio" name="Spring" value="IoC" checked="checked"> <label>IOC</label> <br>
    <input type="radio" name="Spring" value="DI"> <label>DI</label> <br>
    <input type="radio" name="Spring" value="MVC" aria-valuetext="IOC"> <label>MVC</label> <br>

    <label>Please select your company</label> <br>
    <input type="checkbox" name="company" value="Bank of America"> <label>BoA</label> <br>
    <input type="checkbox" name="company" value="SouthWest Airlines"> <label>SouthWest</label> <br>
    <input type="checkbox" name="company" value="Limited"> <label>LTD</label> <br>

    <label>Select your car</label> <br>
    <select name="cars">
        <option value="honda">Honda</option>
        <option value="nissan">Nissan</option>
        <option value="toyota">Toyota</option>
        <option value="bmw">BMW</option>
        <option value="ford">Ford</option>
    </select>

    <form action="#" method="get">
        First name:<input type="text" name="first_name"/>
        <br>
        Last name:<input type="text" name="last_name"/>
    </form>

    <div>
        <h3>This is test of a DIV</h3>
        <ul>
            <li>Spring Framework</li>
            <li>Security</li>
            <li>Unit Testing</li>
        </ul>
    </div>

</body>


</html>